<div class='container-fluid'>
  <div class='row'>
    <nav class="navbar navbar-default" role="navigation">
      <div class='col-md-2'></div>
      <div class='col-md-8'>

          <a class="navbar-brand" href="#">NVESTR</a>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
<!--                 <li><a href="#">Left</a></li>
                <li><a href="#about">Left</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">Login</a></li>

            </ul>
          </div>
        
      </div>
      <div class='col-md-2'></div>
    </nav>
  </div>
    
</div>